.row-club {
	border: 1px solid #999;
	padding: .5rem;
	border-bottom: none;
}

.row-club: last-child {
	border-bottom: 1px solid #999;
}

.club-name {
	white-space: nowrap;
	overflow-x: scroll;
}

.club-wrap a {
	
}